<h1>Share Password</h1>
 <%= form_with model: @user_password, url: password_shares_path(@password) do |form| %>
  <div>
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, @users, :id, :email %>
  </div>
  <div>
    <%= form.submit "Share" %>
  </div>
 <% end %>