<div class="flex justify-between items-center">
  <h1 class="mb-0"><%= @password.url %></h1>
  <%= link_to "Edit password", edit_password_path %>
</div>
<h6 class="py-2">Username / Email</h6>
<pre class="mt-0"><code><%= @password.username %></code></pre>
<h6 class="py-2">Password</h6>
<pre class="mt-0"><code><%= @password.password %></code></pre>